.grid {
    display: grid;
    grid-template-columns: repeat(3,5vw);
    grid-auto-rows: 5vh;
    width: 15vw;
    height: 15vh;
}

#block-0,
#block-1,
#block-3,
#block-4,
#block-6, 
#block-7 {
    border-right: 2px solid black;
}

#block-0,
#block-1,
#block-2,
#block-3,
#block-4,
#block-5 {
    border-bottom: 2px solid black;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
}



